{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="emblem">
		<img src="{{ SITEURL }}/theme/images/NewLogo.png">
	</div>
	<div class="title">
		<p>Интернет-телеканал "Райка and Лайка"</p>
	</div>
	<div class="description">
		<p>Интернет-телеканал "Райка and Лайка" - это телеканал, который вещает только по сети интернет.</p>
		<p>Мы вещаем разные телепередачи, короткометражные фильмы, шоу и ведём прямые эфиры с разных мероприятий!</p>
	</div>
<div class="title">
	<a href="https://vk.com/rayka_and_layka_new"><i class="demo-icon icon-link-ext">&#xf08e;</i>Сообщество ВК</a><br>
	<a href="https://yandex.ru/chat#/join/0e0da34c-6352-4b74-8963-4b8d612868df"><i class="demo-icon icon-link-ext">&#xf08e;</i>Канал в Яндекс Мессенджере</a>
	<br>
	<a href="https://discord.gg/5HRFCZV8PN"><i class="demo-icon icon-link-ext">&#xf08e;</i>Дискорд сервер</a>
</div>
<div class="rabota">
	<a class="rabota" href="/rabota"><p>Стать частью команды</p></a>
</div>
<div class="rabota">
	<a class="rabota" href="/clips"><p>Видео от зрителей</p></a>
</div>

<div class="title1">
		<b>Прямой эфир инт.-телеканала</b><br>
		<mark>Интернет-канал сейчас ничего не вещает</mark>
		<p>Запись вещания:</p>
</div>
<div class="video">
	<iframe width="560" height="315" src="https://rutube.ru/play/embed/4d5f54dc5475a71d255cf0ea4862b1cd?skinColor=e53935" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
<div class="title1">
		<b>Расписание на 23.06.2024</b>
        <p>С 14:30 МСК:</p>
        <p>-Короткометражный фильм "Страйдер"</p>
        <!-- <p>-Короткометражный фильм "Страйдер 2"</p> -->
        <mark><p>-Обзорная передача про игру в Roblox "Метро Москвы Некрасовка" - 1 серия. (В ПОСЛЕДНИЙ РАЗ НА ВЕЩАНИИ!) 14:42,  17:15,  19:22,  21:16,  23:11</p></mark>
        <p>-Обзорная передача про игру в Roblox "Метро Москвы Некрасовка" - 2 серия.</p>
        <p>-Короткометражный фильм "СДЕЛКА".</p>
        <p>-Велопрогулка по Подмосковью - Люберцы</p>
        <p>-Короткометражный фильм "Беседа"</p>
        <p>-Короткометражный фильм "Скейт"</p>
        <p>16:25 МСК:</p>
        <p>К/Ф "ЭГО"</p>
        <p>16:48 МСК:</p>
        <p>К/Ф "Карачун"</p>
</div>
<!-- <div class="photo"><img src="{{ SITEURL }}/theme/images/Rpr29qovqzc.jpg"></div> -->
<div class="title2">
		<p>Реквизиты для финансовой помощи</p>
		<p>Номер карты МТС Банка:</p>
		<p>2200 2804 1534 3484</p>
<!-- 		<p>Номер карты Юмани:</p>
		<p>5106 2180 3937 8336</p> -->
</div>
<div class="Opros">
	<iframe src="https://yandex.ru/chat#/join/0e0da34c-6352-4b74-8963-4b8d612868df/1717604674945027" width="850" height="478" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
</div>
<div class="title1">
		<b>Видео</b>
</div>
<div class='video'>
	<!-- <video src="{{ SITEURL }}/theme/images/Rasp2024.mp4" controls width="640" height="380"></video> -->
	<iframe width="560" height="315" src="https://nuum.ru/embed/record/1782846" title="Nuum video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<a class="button_glbol" href="https://vk.com/video/@rayka_and_layka_new"><b>Ещё видео</b></a>

<iframe src="https://yandex.ru/sprav/widget/rating-badge/231632381437?type=rating" width="300" height="250" frameborder="0"></iframe>

<div class="footer2">
     <div class="sob">
          <a href="https://vk.com/motion.deru"><img src="/theme/images/Montion Deru 2.png"></a>
     </div>
    <div class="contein3"><b>© Интернет-телеканал "Райка and Лайка"</b></div>
</div>
{% endblock %}
